<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Welcome to <br />
                    <span style="color: hsl(218, 81%, 75%)">Cricket Teams</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Explore our exquisite selection of 2024 IPL cricket teams, showcasing the best talent and thrilling
                    matches. From powerhouse performances to nail-biting finishes, experience the excitement of IPL
                    cricket like never before.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <div #alertDanger class="alert alert-danger" style="display: none;">
                            Wrong credentials. Please try again.
                        </div>
                        <!-- Login Form -->
                        <form [formGroup]="formData" (ngSubmit)="login()">
                            <!-- Email -->
                            <div class="form-outline mb-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" class="form-control border border-dark"
                                    formControlName="email">
                                <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched"
                                    class="text-danger">
                                    <div *ngIf="formData.get('email')?.errors!['required']">Email is required.</div>
                                    <div *ngIf="formData.get('email')?.errors!['email']">Invalid email format.</div>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="form-outline mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control border border-dark"
                                    formControlName="password">
                                <div *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched"
                                    class="text-danger">
                                    <div *ngIf="formData.get('password')?.errors!['required']">Password is required.
                                    </div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or sign in with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>

                            <p>Don't have an account? <a routerLink="/registration" class="link-primary">Sign up
                                    here</a></p>
                        </form>
                        <!-- End of Login Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->